.rightBarWraper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightBarBirthDayImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.onlineFriendImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}